h6 span{
    font-weight: lighter;
}
body{
    font-family: Georgia ;
    line-height: 1em;
    color: black;
    margin: 20px;
}
body .heading5 {
    color: #1442cc;
    font-size: 0.90em;
    font-weight: bold;
    margin: 0 0 10em 0;
    margin-block: 0 0;
}

body .code{
    margin-right: 300px;
}

pre{
    margin: 1px 0 1px 0;
    font-family: garamond;
}

.sub-head{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    margin: -20px 0 -100px 0;
    padding: -20px 0 -30px 0;
}
.sub-sub-head{
    font-style: italic;
    font-weight: normal;
}

ul{
    line-height: 55%;
}

li{
    padding: 0;
    border-spacing:compact;
    line-height: 0;
    margin: 10px 0 -5px 0;
}

.code{
    font-family: 'Monaco',;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(99, 8, 168);
    border: 1px groove black;
    border-radius: 10px ;
    line-height: 130%;
}

.example {
    text-decoration: underline;
}